<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="text-center border border-light mx-auto mt-5 p-3 mp-5" #registerForm="ngForm"
                (ngSubmit)="register()">
                <p class="h4 mb-4">Sign In</p>

                <!-- Name -->
                <div class="form-group">
                    <input type="text" #name="ngModel" [(ngModel)]="registerData.name"
                        [class.is-invalid]="name.invalid && name.touched" class="form-control" placeholder="Name"
                        name="name" required>
                    <div class="text-left invalid-feedback" [class.d-none]="name.valid || name.untouched">Name is
                        required</div>
                </div>

                <!-- Lastname -->
                <div class="form-group">
                    <input type="text" #lastname="ngModel" [(ngModel)]="registerData.lastname"
                        [class.is-invalid]="lastname.invalid && lastname.touched" class="form-control" placeholder="Lastname"
                        name="lastname" required>
                    <div class="text-left invalid-feedback" [class.d-none]="lastname.valid || lastname.untouched">Lastname is
                        required</div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <input type="email" #email="ngModel" [(ngModel)]="registerData.email"
                        [class.is-invalid]="email.invalid && email.touched" class="form-control" placeholder="E-mail"
                        name="email" required>
                    <div class="text-left invalid-feedback" [class.d-none]="email.valid || email.untouched">Email is
                        required</div>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <input type="password" #password="ngModel" [(ngModel)]="registerData.password"
                        [class.is-invalid]="password.invalid && password.touched" class="form-control"
                        placeholder="Password" name="password" required>
                    <div class="text-left invalid-feedback" [class.d-none]="password.valid || password.untouched">
                        Password is required</div>
                </div>

                {{ loginData.email }}

                <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!registerForm.valid">Register</button>
               
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>

</div>