<div class="container">
    <form class="text-center border border-light mx-auto mt-5 p-3 mp-5" style="width: 800px;">
        <p class="h4 mb-4">Profile</p>

        <div class="row">
            <div class="col-sm">
                <!-- Email -->
                <input type="text" class="form-control mb-4" placeholder="Name" name="name">
            </div>
            <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
        </div>
        
        


    </form>
</div>
<p>profile works!</p>
